
html{
    scroll-behavior: smooth;
}
body {
    background: #f1f1f1;
    font-family: "Nunito", sans-serif;
    margin-bottom: 5%;
}
section{
    height: 100vh;
}
.deemphasized{
    font-size: 0.75rem;
}
#secondSection h2{
    margin-top: 150px;
    color: black;
    animation: fadeIn 7s;
}
#secondSection p{
    color: black;
    font-size: 1.45rem;
    animation: fadeIn 7s;
}
.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1.5s;
  }
  
.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}
  
.content {
    margin-top: 100px;
    margin-bottom: 350px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: #000;
}

#mainNavbar .nav-link:hover {
    color: #f0f1f1;
}

#mainNavbar .navbar-brand {
    color: #000;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #49111c;
}

#headingGroup h1 {
    color: #000;
    font-weight: 100;
    font-size: 30rem;
    animation: fadeIn 7s;
}

.navbar.scrolled {
    background: #e8e2df;
    opacity: 0.75;
    transition: opacity 5s;
    transition: background 500ms;
}
#mainNavbar svg{
    margin-bottom: 2%;
    padding-right: 2%;
}

@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 30rem;
        color: #000;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}
/*  */




