body{
    /* background-image: url('public/imgs/skate.gif'); */
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../public/imgs/skate.gif');
    background-size: cover;
    background-repeat: repeat;
    color: white;
    font-family: "Courier New";
    font-size: 12px;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}
li{
    margin: 10px 0;
}
.mainList:hover{
    background-color: red;
}
@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

